In [ ]:
import gensim
from gensim import corpora
from pprint import pprint
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Reading file from drive

In [ ]:
import pandas as pd


with open('/content/drive/MyDrive/Springboard/capstone3/mc160.dev.txt') as f:
    contents = f.read()
    
print(contents)

Converting string into dataframe

In [ ]:
#def Convert(string):
 #   li = list(string.split("***************************************************"))
 #   return li

# Driver code    

list1 = list(contents.split("***************************************************"))
#print(len(list1))
#print(list1)
print(len(list1))
str1 = ""
#print(list1[1][0:82])
#print(list1[2][0:82])
for i in range(1,len(list1)):
  #print((list1[i][0:82]))
  str1 = list1[i][0:82]
  #print("inside loop")
  #print(str1)
  list1[i]=list1[i].replace(str1,'')
print(list1[1])

In [ ]:
df = pd.DataFrame (list1)
df.rename(columns={0: 'para'}, inplace=True)
df = df.iloc[1: , :]
df.head()

In [ ]:
location_df = df['para'].apply(lambda x: pd.Series(x.split('1')))
location_df.rename(columns={0: 'Paragraph',1:'multiple_choice'}, inplace=True)
location_df.head(2)

In [ ]:
location_df['multiple_choice'].dtypes

dtype('O')

In [ ]:
df1 = location_df['multiple_choice'].apply(lambda x: pd.Series(str(x).split('2:')))
df1.rename(columns={0: 'Q1',1:'rest'}, inplace=True)
df1.head()

In [ ]:
df2 = df1['rest'].apply(lambda x: pd.Series(str(x).split('3:')))
df2.rename(columns={0: 'Q2',1:'rest'}, inplace=True)
df2.head(5)

In [ ]:
df3 = df2['rest'].apply(lambda x: pd.Series(str(x).split('4:')))
df3.rename(columns={0: 'Q3',1:'Q4'}, inplace=True)
df3.head(5)

# Final DF

In [ ]:
result_df = pd.concat([location_df['Paragraph'], df1['Q1'],df2['Q2'],df3], axis=1)
result_df.head()

,Paragraph,Q1,Q2,Q3,Q4
1,\n\nIt was Jessie Bear's birthday. She was hav...,: one: Who was having a birthday?\n*A) Jessie ...,multiple: Who didn't come to the party?\n A) ...,multiple: How did Jessie get ready for the pa...,one: How many friends came to Jessie's party?...
2,\nSally had a very exciting summer vacation. S...,: multiple: Who went to the beach with Sally?\...,multiple: What did Sally promise to do?\n A) ...,one: Why does Sally like walking in the woods...,multiple: What did Sally do this summer?\n*A)...
3,\nTodd lived in a town outside the city . Unli...,: multiple: Where did Todd visit?\n*A) The cit...,multiple: What did Todd say when he got home ...,one: Where does Todd live?\n A) The city\n B)...,multiple: What did Todd see when he got to th...
4,\n\nGreta ran to the corner with her older bro...,: multiple: What did the driver of the ice cre...,multiple: What did the children do when they ...,multiple: What did Tony and Greta get from th...,multiple: What did Greta and Tony do after th...
5,"\n\nMy parents, Kelly and Kelley, said that it...",: one: What was my brother's name?\n A) Kelly\...,one: Where did we go?\n A) Hood River Castle\...,multiple: What did the castle have?\n A) A ba...,multiple: What did we do at the castle?\n A) ...

# Remove Unicode Characters

In [ ]:
#no unicode characters

# Stop words Removal

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk
nltk.download('all')
nltk.download('stopwords')

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

sw_nltk = stopwords.words('english')
print(sw_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
stop_words = set(stopwords.words('english'))
 

result_df['paragraph_without_stopwords'] = result_df['Paragraph'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
result_df['Q1_without_stopwords'] = result_df['Q1'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
result_df['Q2_without_stopwords'] = result_df['Q2'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
result_df['Q3_without_stopwords'] = result_df['Q3'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
result_df['Q4_without_stopwords'] = result_df['Q4'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop_words)]))
#print(word_tokens)
result_df.head()
#print(filtered_sentence)
# remove one and multiple
# isolate question and answers
# extract question new column
#Q1_A,Q1_B,Q1_C,Q1_D separately
#lemmatize or stemming paragraph, question and answers(4)

In [ ]:
result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace('*', '')
result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace('?', '')
#result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace(':', '')
result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace('multiple:', '')
result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace('one:', '')
result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].str.replace(':', '')
result_df['Q1_without_stopwords'] = result_df['Q1_without_stopwords'].astype(str)
#final_df.head()
result_df.head()
#result_df.dtypes

In [ ]:
df1_Q1 = result_df['Q1_without_stopwords'].apply(lambda x: pd.Series(str(x).split('A)')))
df1_Q1.rename(columns={0: 'Q1',1:'rest'}, inplace=True)
df1_Q1.head()

,Q1,rest
1,Who birthday,Jessie Bear B) one C) Lion D) Tiger
2,Who went beach Sally,"sisters B) Tina C) brothers, mother, father D)"
3,Where Todd visit,The city B) His mom C) The town D) The animals
4,What driver ice cream truck Greta Tony got c...,He started pulling away curb. B) He played tr...
5,What brother's name,Kelly B) Kelsey C) Caden D) Colby

In [ ]:
df1_Q1_A = df1_Q1['rest'].apply(lambda x: pd.Series(str(x).split('B)')))
df1_Q1_A.rename(columns={0: 'Q1_A',1:'rest'}, inplace=True)
df1_Q1_A.head()

,Q1_A,rest
1,Jessie Bear,one C) Lion D) Tiger
2,sisters,"Tina C) brothers, mother, father D)"
3,The city,His mom C) The town D) The animals
4,He started pulling away curb.,He played truck's jingle. C) He stayed parked...
5,Kelly,Kelsey C) Caden D) Colby

In [ ]:
df1_Q1_B = df1_Q1_A['rest'].apply(lambda x: pd.Series(str(x).split('C)')))
df1_Q1_B.rename(columns={0: 'Q1_B',1:'rest'}, inplace=True)
df1_Q1_B.head()

,Q1_B,rest
1,one,Lion D) Tiger
2,Tina,"brothers, mother, father D)"
3,His mom,The town D) The animals
4,He played truck's jingle.,He stayed parked curb. D) He almost got snow ...
5,Kelsey,Caden D) Colby

In [ ]:
df1_Q1_C = df1_Q1_B['rest'].apply(lambda x: pd.Series(str(x).split('D)')))
df1_Q1_C.rename(columns={0: 'Q1_C',1:'Q1_D'}, inplace=True)
df1_Q1_C.head()

                         Q1_C                       Q1_D
1                       Lion                       Tiger
2   brothers, mother, father
3                   The town                 The animals
4     He stayed parked curb.    He almost got snow cone.
5                      Caden                       Colby

In [ ]:
final_df_Q1 = pd.concat([df1_Q1['Q1'], df1_Q1_A['Q1_A'],df1_Q1_B['Q1_B'],df1_Q1_C], axis=1)


#result_df['Q1_without_stopwords']= result_df['Q1_without_stopwords'].replace(to_replace = ['one:','multiple:'],value ='', inplace = True)

final_df_Q1.head()

,Q1,Q1_A,Q1_B,Q1_C,Q1_D
1,Who birthday,Jessie Bear,one,Lion,Tiger
2,Who went beach Sally,sisters,Tina,"brothers, mother, father",
3,Where Todd visit,The city,His mom,The town,The animals
4,What driver ice cream truck Greta Tony got c...,He started pulling away curb.,He played truck's jingle.,He stayed parked curb.,He almost got snow cone.
5,What brother's name,Kelly,Kelsey,Caden,Colby

In [ ]:
final_df_Q1['Q1_tokenize'] = final_df_Q1['Q1'].apply(word_tokenize)
final_df_Q1['Q1_A_tokenize'] = final_df_Q1['Q1_A'].apply(word_tokenize)
final_df_Q1['Q1_B_tokenize'] = final_df_Q1['Q1_B'].apply(word_tokenize)
final_df_Q1['Q1_C_tokenize'] = final_df_Q1['Q1_C'].apply(word_tokenize)
#final_df_Q1['Q1_D_tokenize'] = final_df_Q1['Q1_D'].apply(word_tokenize)
final_df_Q1.head()

,Q1,Q1_A,Q1_B,Q1_C,Q1_D,Q1_tokenize,Q1_lemmatized,Q1_A_tokenize,Q1_B_tokenize,Q1_C_tokenize
1,Who birthday,Jessie Bear,one,Lion,Tiger,"[Who, birthday]","[Who, birthday]","[Jessie, Bear]",[one],[Lion]
2,Who went beach Sally,sisters,Tina,"brothers, mother, father",,"[Who, went, beach, Sally]","[Who, went, beach, Sally]",[sisters],[Tina],"[brothers, ,, mother, ,, father]"
3,Where Todd visit,The city,His mom,The town,The animals,"[Where, Todd, visit]","[Where, Todd, visit]","[The, city]","[His, mom]","[The, town]"
4,What driver ice cream truck Greta Tony got c...,He started pulling away curb.,He played truck's jingle.,He stayed parked curb.,He almost got snow cone.,"[What, driver, ice, cream, truck, Greta, Tony,...","[What, driver, ice, cream, truck, Greta, Tony,...","[He, started, pulling, away, curb, .]","[He, played, truck, 's, jingle, .]","[He, stayed, parked, curb, .]"
5,What brother's name,Kelly,Kelsey,Caden,Colby,"[What, brother, 's, name]","[What, brother, 's, name]",[Kelly],[Kelsey],[Caden]

# Stemming

In [ ]:
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

# removing special characters

# Lemmatization

In [ ]:
#remove puncuation
import string
punc = string.punctuation
final_df_Q1['Q1_tokenize'] = final_df_Q1['Q1_tokenize'].apply(lambda x: [word for word in x if word not in punc])
final_df_Q1['Q1_A_tokenize'] = final_df_Q1['Q1_A_tokenize'].apply(lambda x: [word for word in x if word not in punc])
final_df_Q1['Q1_B_tokenize'] = final_df_Q1['Q1_B_tokenize'].apply(lambda x: [word for word in x if word not in punc])
final_df_Q1['Q1_C_tokenize'] = final_df_Q1['Q1_C_tokenize'].apply(lambda x: [word for word in x if word not in punc])
final_df_Q1.head()

,Q1,Q1_A,Q1_B,Q1_C,Q1_D,Q1_tokenize,Q1_lemmatized,Q1_A_tokenize,Q1_B_tokenize,Q1_C_tokenize
1,Who birthday,Jessie Bear,one,Lion,Tiger,"[Who, birthday]","[Who, birthday]","[Jessie, Bear]",[one],[Lion]
2,Who went beach Sally,sisters,Tina,"brothers, mother, father",,"[Who, went, beach, Sally]","[Who, went, beach, Sally]",[sisters],[Tina],"[brothers, mother, father]"
3,Where Todd visit,The city,His mom,The town,The animals,"[Where, Todd, visit]","[Where, Todd, visit]","[The, city]","[His, mom]","[The, town]"
4,What driver ice cream truck Greta Tony got c...,He started pulling away curb.,He played truck's jingle.,He stayed parked curb.,He almost got snow cone.,"[What, driver, ice, cream, truck, Greta, Tony,...","[What, driver, ice, cream, truck, Greta, Tony,...","[He, started, pulling, away, curb]","[He, played, truck, 's, jingle]","[He, stayed, parked, curb]"
5,What brother's name,Kelly,Kelsey,Caden,Colby,"[What, brother, 's, name]","[What, brother, 's, name]",[Kelly],[Kelsey],[Caden]

In [ ]:
wnl = WordNetLemmatizer()
final_df_Q1['Q1_lemmatized'] = final_df_Q1['Q1_tokenize'].apply(lambda x: [wnl.lemmatize(word) for word in x])
final_df_Q1['Q1_A_lemmatized'] = final_df_Q1['Q1_A_tokenize'].apply(lambda x: [wnl.lemmatize(word) for word in x])
final_df_Q1['Q1_B_lemmatized'] = final_df_Q1['Q1_B_tokenize'].apply(lambda x: [wnl.lemmatize(word) for word in x])
final_df_Q1['Q1_C_lemmatized'] = final_df_Q1['Q1_C_tokenize'].apply(lambda x: [wnl.lemmatize(word) for word in x])
final_df_Q1.head()

,Q1,Q1_A,Q1_B,Q1_C,Q1_D,Q1_tokenize,Q1_lemmatized,Q1_A_tokenize,Q1_B_tokenize,Q1_C_tokenize,Q1_A_lemmatized,Q1_B_lemmatized,Q1_C_lemmatized
1,Who birthday,Jessie Bear,one,Lion,Tiger,"[Who, birthday]","[Who, birthday]","[Jessie, Bear]",[one],[Lion],"[Jessie, Bear]",[one],[Lion]
2,Who went beach Sally,sisters,Tina,"brothers, mother, father",,"[Who, went, beach, Sally]","[Who, went, beach, Sally]",[sisters],[Tina],"[brothers, mother, father]",[sister],[Tina],"[brother, mother, father]"
3,Where Todd visit,The city,His mom,The town,The animals,"[Where, Todd, visit]","[Where, Todd, visit]","[The, city]","[His, mom]","[The, town]","[The, city]","[His, mom]","[The, town]"
4,What driver ice cream truck Greta Tony got c...,He started pulling away curb.,He played truck's jingle.,He stayed parked curb.,He almost got snow cone.,"[What, driver, ice, cream, truck, Greta, Tony,...","[What, driver, ice, cream, truck, Greta, Tony,...","[He, started, pulling, away, curb]","[He, played, truck, 's, jingle]","[He, stayed, parked, curb]","[He, started, pulling, away, curb]","[He, played, truck, 's, jingle]","[He, stayed, parked, curb]"
5,What brother's name,Kelly,Kelsey,Caden,Colby,"[What, brother, 's, name]","[What, brother, 's, name]",[Kelly],[Kelsey],[Caden],[Kelly],[Kelsey],[Caden]

In [ ]:
#simplest approach transform paragraph to TFIDF (for each sentence) result in additional column
#TFIDF for question also
#cosine similarity between question TFIDF with each sentence TFIDF